// Colors
$background-color: rgba(142, 68, 173, 1.0);
$primary-color: white;
$secondary-color: rgba(155, 89, 182, 1.0);

// Fonts
$primary-fontSize: 26px;

// Board
$boardCell-borderWidth: 8px;
$boardCell-size: 56px;
